click==6.7
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
Werkzeug==0.14.1
pandas==0.24.2
numpy==1.16.2
requests==2.21.0
spacy==2.1.8
nltk==3.4
wikipedia==1.4.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
